.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-logo {
  margin-right: 8px;
  height: 20px;
}

.header-title {
  font-size: 1.25rem;
}

.header-center {
  flex: auto;
  display: flex;
  justify-content: center;
}