body {
  margin: 0;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--MuiToolbar-minHeight));
  overflow: hidden;
}

.app-content {
  flex: 1;
  overflow: auto;
}

.map-container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 64px);
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.resizer {
  width: 4px;
  cursor: col-resize;
}

.toggle-button {
  position: absolute;
  z-index: 10;
  border-radius: 0 4px 4px 0;
}

.map-box {
  flex: 1;
  position: relative;
}

.initials {
  font-size: 11px !important;
  font-weight: bold;
}

.avatar {
  width: 24px !important;
  height: 24px !important;

}